{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-inicial d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow" style="min-width: 300px; max-width: 400px; width: 100%;">
    <h3 class="text-center mb-4">Entrar na Booklist</h3>

{% include 'partials/_mensagens.html' %}


    <form method="POST">
      {% csrf_token %}

      <div class="mb-3">
        <label for="login" class="form-label">Login</label>
        <input type="text" class="form-control" id="login" name="login" required autofocus>
      </div>

      <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senha" name="senha" required>
      </div>



      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Entrar</button>
      </div>
    </form>

    <hr>
    <p class="text-center mt-2 mb-0">Ainda não possui uma conta?</p>
    <div class="d-grid mt-1">
      <a href="{% url 'cadastro_usuario' %}" class="btn btn-outline-secondary">Criar Conta</a>
    </div>
  </div>
</div>
{% endblock %}