body {
    background: #f4f4f4;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

/* ----------- TÍTULOS ----------- */
h1, h2, h3 {
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
}

/* ----------- BOTÕES ----------- */
.btn-custom {
    background-color: #2041a5;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
    box-shadow: none;
}

.btn-custom:hover {
    background-color: #2e51bd;
    color: white; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* ----------- CONTAINERS ----------- */
.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* ----------- INPUTS ----------- */
input[type="text"], input[type="date"], select {
    border-radius: 5px;
    padding: 10px;
}

/* ----------- CARDS DE LIVROS ----------- */
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.02);
}

/* ----------- IMAGENS ----------- */
.card-img-top {
    max-height: 250px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* ----------- FOOTER ----------- */
footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.card.livro-custom {
  background-color: #f4f4f4;  /* cor suave em vez de branco puro */
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.card.livro-custom:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
  transform: scale(1.01);
  transition: all 0.2s ease-in-out;
}

/* estilo da pagina inicial */
.container-inicial {
    min-height: 100vh;
    display: flex;
    padding: 30px;
    background: linear-gradient(to right, #477cb1, #e3f2fd);
}

.box-bem-vindo {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    max-width: 400px;
    width: 100%;
    margin-right: 40px;
}
.box-bem-vindo:hover {
    transform: scale(1.02);

}

.imagem-bem-vindo img {
    max-width: 400px;
    border-radius: 10px;
}