{% extends 'base.html' %}
{% load static %}
{% load form_extras %}
{% block content %}
<div class="home-bg">
<div class="container mt-5">
  <h2 class="text-center mb-4">✏️ Editar Livro</h2>

  <form method="post" class="mx-auto" style="max-width: 600px;">
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_titulo" class="form-label">Título</label>
      {{ form.titulo|add_class:"form-control" }}
    </div>

    <div class="mb-3">
      <label for="id_autor" class="form-label">Autor</label>
      {{ form.autor|add_class:"form-control" }}
    </div>

    <div class="mb-3">
      <label for="id_data_publicacao" class="form-label">Data de Publicação</label>
      {{ form.data_publicacao|add_class:"form-control" }}
    </div>

    <div class="form-check mb-3">
      {{ form.lido }}
      <label class="form-check-label" for="id_lido">Já foi lido</label>
    </div>

    <div class="d-flex justify-content-between">
      <a href="{% url 'livros' %}" class="btn btn-secondary">Voltar</a>
      <button type="submit" class="btn btn-success">Salvar Alterações</button>
    </div>
    <input type="hidden" name="descricao" value="{{ livro.descricao }}">
    <input type="hidden" name="capa_url" value="{{ livro.capa_url }}">
  </form>
</div>
</div>
{% endblock %}