{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="home-bg">
  <div class="container py-3 text-center">
    <h1 class="mb-4">📚 Bem-vindo, {{ request.user.first_name }}!</h1>

    <!-- Card de Progresso -->
    <div class="card card-progresso shadow-sm mb-4 mx-auto" style="max-width: 500px;">
      <div class="card-body">
        <h5 class="card-title">📊 Seu Progresso</h5>
        <p class="card-text">{{ mensagem }}</p>
      </div>
    </div>

    <!-- Botões -->
    <div class="row justify-content-center text-center">
      <div class="col-md-3 mb-4">
        <a href="{% url 'cadastrar' %}" class="btn btn-success btn-lg mx-auto d-block" style="width: 240px;">
          ➕ Cadastrar Livro</a>
        <img src="{% static 'livros/img/cadastrar.png' %}" alt="Cadastrar"
            class="img-fluid mt-2" style="max-height: 120px;">
      </div>
      <div class="col-md-3 mb-4">
        <a href="{% url 'livros' %}" class="btn btn-primary btn-lg mx-auto d-block" style="width: 240px;">
          📖 Meus Livros</a>
        <img src="{% static 'livros/img/meuslivros.png' %}" alt="Meus Livros"
            class="img-fluid mt-2" style="max-height: 120px;">
      </div>
    </div>


    <!-- Botão de logout -->
    <div class="mt-4">
      <a href="{% url 'logout' %}" class="btn btn-danger">
        <i class="bi bi-box-arrow-right"></i> Sair
      </a>
    </div>
  </div>
</div>
{% endblock %}