{% extends 'base.html' %}

{% block content %}
<div class="container py-5 text-center">
  <h1 class="mb-4">Bem vindo, {{ request.user.first_name }}! </h1>
  <p class="lead mb-5">Organize seus livros de forma simples e rápida.</p>

  <div class="d-flex justify-content-center gap-4 flex-wrap">
    <a href="{% url 'cadastrar' %}" class="mb-4 btn btn-outline-primary btn-lg px-4 py-2">
      ➕ Cadastrar Livro
    </a>
    <a href="{% url 'livros' %}" class="mb-4 btn btn-outline-success btn-lg px-4 py-2">
      📖 Ver Meus Livros
    </a> 
  </div>
  <a href="{% url 'logout' %}" class="btn btn-outline-danger">
  <i class="bi bi-box-arrow-right"></i> Sair
</a>
</div>
{% endblock %}